---
---

<footer class="text-sm bg-gray-50">
  <div class="mx-auto max-w-7xl py-6 px-4">
    <div
      class="flex flex-col md:flex-row justify-center md:justify-between gap-2 md:gap-0"
    >
      <div class="text-center">
        ©
        <a class="hover:underline" href="/"> Kitabikin Undangan</a>
      </div>
      <div class="flex justify-center items-center">
        Made with
        <svg
          class="fill-red-500 mx-1"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          width="24"
          height="24"
        >
          <path fill="none" d="M0 0H24V24H0z"></path>
          <path
            d="M20.243 4.757c2.262 2.268 2.34 5.88.236 8.236l-8.48 8.492-8.478-8.492c-2.104-2.356-2.025-5.974.236-8.236C5.515 3 8.093 2.56 10.261 3.44L6.343 7.358l1.414 1.415L12 4.53l-.013-.014.014.013c2.349-2.109 5.979-2.039 8.242.228z"
          ></path>
        </svg>
        in Indonesia.
      </div>
    </div>
  </div>
</footer>
