---
import '@/styles/hazel/hazel.css';
import Body from '@/islands/hazel/Body';
import To from '@/islands/hazel/To';
import { feature, featureTo } from '@/lib/featureHazel';

const { options, data } = Astro.props;

const featureData = feature(data.feature);
const { fGeneral, fTo } = featureData;

const featureDataGeneral = featureTo(fGeneral.column);
const featureDataTo = featureTo(fTo.column);
---

<>
  <Body client:load />
  <div class:list={['main', 'text-md md:text-lg min-h-screen']}>
    <!-- Kepada -->
    {
      fTo && fTo.is_active && (
        <To client:load options={options} to={featureDataTo} />
      )
    }

    Hazel Layout
  </div>
</>

<style>
  .main {
    background-color: var(--hazel-bg-color);
    color: var(--hazel-color-body);
    font-family: 'nashvilleBody';
  }
</style>
