---
import '@/styles/nashville/nashville.css';
import Body from '@/islands/nashville/Body';

const { options, data } = Astro.props;
---

<>
  <Body client:load />
  <div class:list={['main', 'text-md md:text-lg min-h-screen']}>
    Nashville Layout
  </div>
</>
